{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
 <style>
            .button-container {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }

            .button-container .previous-button {
                order: 1;
            }

            .button-container .next-button {
                order: 2;
            }

    </style>
<main id="main" class="main">
    <div class="container">
    <h3> Academic Qualifications: </h3>
        <form method="POST" action="{% url 'membership:academic_qualification' %}" enctype="multipart/form-data">
            {% csrf_token %}
    <div class="row">
        <div class="col-12">
            {{ context.name_of_institution|as_crispy_field }}
        </div>

        <div class="row">
            <div class="col-6">
                {{ context.date_from|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ context.date_to|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                {{ context.course_duration_in_years|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                 {{ context.certificate_awarded|as_crispy_field }}
            </div>
                <div class="col-6">
                {{ context.certificate_file|as_crispy_field }}
                </div>
            </div>
        <div class="button-container">
        <a href="{% url 'membership:applicant_details' %}" class="btn btn-primary previous-button">Previous</a>
            <input type="submit" name="submit" value="next"   class="btn btn-primary next-button" Next />

    </div>


        </div>
        </form>
    </div>
</main>
{% endblock %}