{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<style>
            .button-container {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }

            .button-container .previous-button {
                order: 1;
            }

            .button-container .next-button {
                order: 2;
            }

</style>
<main id="main" class="main">
    <div class="container">
    <h3>Areas of specialization that best reflects your activities in quality related field</h3>
        <form method="POST" action="{% url 'membership:specialized_area' %}">
            {% csrf_token %}
{{ context|crispy }}
    </div>
    <div class="button-container">
        <a href="{% url 'membership:academic_qualification' %}" class="btn btn-primary previous-button">Previous</a>
        <input type="submit" name="submit" value="next"   class="btn btn-primary next-button" Next />
    </div>
        </form>

</main>
{% endblock %}